$primary: #0d5;
$grey: #999;

/* GLOBAL */
* {
  box-sizing: border-box;
}

/* IMAGES */

.image {
  display: block;
  height: 328px;
  background-size: 100%;
}

.image.typewriter {
  background-image: url('/assets/imgs/typewriter.jpg');
  background-position: 0 -16px;
}

/* BUTTON */

.button {
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  background-color: #00dd55;
  border: none;
  padding: 8px 16px;
  text-transform: uppercase;
  color: #fff;

  &:hover {
    background-color: rgba(0, 221, 85, 0.84);
    color: #fff;
  }
}

/* FORM */

.form {
  ul {
    list-style-type: none;
    padding: 0;

    > li {
      padding: 0;
      margin: 0;
      display: inline-block;
      width: 200px;

      &:first-child {
        width: 100%;
        padding-bottom: 4px;
        font-size: 0.85em;
        color: #999;
      }
    }
  }

  label {
    display: block;
    padding: 8px 0;
    width: 100%;

    > span {
      display: block;
      padding-bottom: 4px;
      font-size: 0.85em;
      color: $grey;
    }
  }

  &__footer {
    margin-top: 16px;
    text-align: right;
  }
}

input {
  width: 100%;
}

select {
  width: 100%;
}

textarea {
  min-height: 120px;
}

select, input, textarea {
  padding: 8px;
  border: 1px solid $grey;
  width: 100%;

  &:focus {
    outline: none;
    border: 1px solid #0d5;
  }
}


/* CHECKBOX */
input[type="checkbox"] {
    display:none;

    & + label {
      display: flex;
      align-items: center;

      color: $grey;
      cursor: pointer;
      line-height: 20px;

      &:before {
        text-align: center;
        color: #fff;
        content: '✓';
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid $grey;
        float: left;
        margin-right: 8px;
      }
    }

    &:checked + label {
      &:before {
        color: $grey;
      }
    }
}

main {
  max-width: 960px;
  margin: 0 auto;
}

main > section {
  max-width: 594px;
  float: left;
}

main > aside {
  max-width: 314px;
  float: right;
  margin-left: 32px;
}

main > aside > article {
  margin-top: 16px;
  margin-bottom: 32px;
  border-radius: 8px;
  background-color: rgba(176, 255, 206, 0.2);
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

main > aside > article > h3 {
  margin-top: 0;
}

main > aside img {
  max-width: 100px;
  float: right;
  border-radius: 8px;
  margin-left: 8px;
}

body {
  color: #333;
  font-family: "Roboto";
}

a {
  color: #0d5;
  font-family: "Roboto Mono";
}

a, a:hover, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul.links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: block;
}

ul.links > li {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
}

/* NAVIGATION */
nav {
  clear: both;
  text-align: center;
  padding: 16px;
  margin: 0;
}

nav a {
  color: $grey;
  text-transform: uppercase;
}

/* MAIN */

main {
  padding: 124px 10px 10px 10px;
}
h
#contact {
  margin-left: 16px;
}

@media only screen and (max-width: 960px) {
  main > section {
    float: none;
    max-width: 100%;
  }

  main > aside {
    float: none;
    margin-left: 0;
    max-width: 100%;
  }

  article .image {
    margin-left: -16px;
    margin-right: -16px;
  }
}

@media only screen and (max-width: 800px) {
  h1 {
    font-size: 1.75em;
  }

  header .container {
    padding: 0;
  }

  header .logo {
    margin-left: 48px;
    height: 32px;
  }

  nav {
    padding: 0;
  }

  article .image {
    height: 196px;
  }

  main {
    padding-top: 64px;
  }

  #contact {
    position: fixed;
    right: 16px;
    bottom: 16px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
  }

}
