/* BLOG POST */

.post {
  &__date {
    color: #999;
    font-size: 0.85em;

    &:before {
      content: '📅';
      margin-right: 8px;
    }
  }

  .image {
    float: right;
    margin: 16px 0 16px 16px;
    > img {
      max-width: 200px;
      max-height: 200px;
    }

    > figcaption {
      color: #999;
      font-size: 0.85em;
      text-align: center;
    }
  }
}
